<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
  <p th:text="${book.getId()}"></p>
  <p th:text="${book.getName()}"></p>
  <p th:text="${book.getAuthor()}"></p>
  <p th:text="${book.getYear()}"></p>

  <br/>

  <form th:method="get" th:action="@{/books/{id}/edit (id=${book.getId()})}">
      <input type="submit" value="Редактировать!">
  </form>

  <br/>

  <form th:method="delete" th:action="@{/books/{id} (id=${book.getId()})}">
      <input type="submit" value="Удалить!">
  </form>
</body>
</html>