<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
  <p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}"></p>

  <form th:method="patch" th:action="@{/books/{id}/set/person (id=${book.getId()})}"
        th:if="${book.getPersonId() == null}">
      <p>Эта книга свободна. Кому назначить ее?</p>
      <label for="people">Выберите человка</label>
        <select th:object="${person}" th:field="*{id}" id="people">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFio()}"></option>
        </select>

      <input type="submit" value="Назначить книгу">
  </form>

  <form th:method="patch" th:action="@{/books/{id}/free/book (id=${book.getId()})}"
        th:if="${book.getPersonId() != null}">
      <p>Книга сейчас занята</p>
      <input type="submit" value="Освободить книгу">
  </form>

  <br/>
  <hr/>

  <form th:method="get" th:action="@{/books/{id}/edit (id=${book.getId()})}">
      <input type="submit" value="Редактировать!">
  </form>

  <br/>

  <form th:method="delete" th:action="@{/books/{id} (id=${book.getId()})}">
      <input type="submit" value="Удалить!">
  </form>
</body>
</html>