<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
  <p th:text="${person.getName()} + ', ' + ${person.getBirthDate()}"></p>

  <div th:if="${books.isEmpty()}">
    <h4>Человек пока не взял книгу</h4>
  </div>

  <div th:if="${!books.isEmpty()}">
      <h3>Книги:</h3>
      <table th:each="book : ${books}">
          <tr th:text="${book.getName() + ' ' + book.getYear()}">book</tr>
      </table>
  </div>

  <hr/>
  <br/>

  <form th:method="get" th:action="@{/people/{id}/edit (id=${person.getId()})}">
      <input type="submit" value="Редактировать!">
  </form>

  <br/>

  <form th:method="delete" th:action="@{/people/{id} (id=${person.getId()})}">
      <input type="submit" value="Удалить!">
  </form>
</body>
</html>